@import url(https://db.onlinewebfonts.com/c/7ccc732353a266bee0d99b75cf08e134?family=Helvetica+93+Black+Extended);
@import url(https://db.onlinewebfonts.com/c/0e6de1ec911a2e267ff136bbdd384a44?family=Helvetica+Neue+Light);


.hero {
    display: flex;
    flex-direction: row;
    color: aqua;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 7vh;
  }

.headin{
    width: 60vmax;
}
.animatedtext{
    /* background: var(--craft-gra, linear-gradient(98deg, #6D4AF9 1.01%, #A632CE 35.37%, #F81DC8 67.65%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #000000;
    font-family: 'Poppins';
    font-size: 4vmax;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 6vh;
    position: relative;
    z-index: 1;


}

.animation{
    /* width: 40%;
    height: 60%; */
    display: flex;
    width: 60%;
    object-fit:fill;
    aspect-ratio: 90/50;
    overflow: visible;

}

 /* .animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 0;
    object-fit:fill;
    aspect-ratio: 100/100;
    overflow: visible;
    
}
.animation div{
    display: flex;
    overflow: visible;    
}

canvas{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: visible;
    margin-top: 0;
}  */
.presence{
    color: #000000;
    /* font-family: HelveticaNeue LT 93 BlackEx;body  */
    font-family: 'Helvetica 93 Black Extended';
        font-weight: 300;
    font-size: 8vmax;
    font-style: Regular;
    font-weight: 700;
    line-height: normal; 
}

.subheadinggg{
    color: #000000;
    font-family: 'Helvetica Neue Light';
    font-size: 2vmax;
    line-height: normal;
    letter-spacing: 0.04em;
}

.ctaa{
    padding: 2vh 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vmax;
    height: 3vmax;
    gap: 1vmax;
    border-radius: 2vmax;
    background-color: #81BC12;
    cursor: pointer;
  
}
.ctaaa{
    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 1.5vmax;
    font-style: light;
    font-weight: 300;
    line-height: normal;
}

.ctabutton{
    width: 1.56vmax;
    height: 3.34vmax;
    
}
@media screen and (max-width:478px) {

    .animation{
            display: none;
    }
    .hero{
        display: flex;
        padding: 2vh 4vw;
        margin: 0vmax;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .ctaa{
        margin-top: 3vmax;
        width: 19vmax !important;
        height: 4vmax !important;
        padding: 1vh 4vw !important;
        border-radius: 6vmax !important;
    }
   
    .headin{
        width: auto;
    }
    .animatedtext{
        font-size: 6vmax;
    }
    .presence{
        font-size: 6vmax;
    }
    .content{
        width: 100%;
        padding: 0vh 2vw;
        overflow: hidden;
        position: static;
        z-index: 0;
    }   
 
   
    .subheadinggg{
        font-size: 2.5vmax;

    }
    .ctaaa{
        font-size: 2.5vmax !important;

    }

    
}

/* .hwrap {
    background-color:#e0e0e0;
    display:flex;
    overflow: hidden;
    width: 100%;
  }
  
/* (A) FORCE ALL ITEMS INTO SINGLE ROW */
/* .hmove {
    display: flex;
    gap: 10vw;
    animation: tickerh linear 25s infinite;
  }
  
  .hitem {

    font-family: 'Poppins';
    font-size: 2.5vmax;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    align-items: center;

    color: #000000;
    flex-shrink: 0;
    overflow: hidden; 
    
  } */
  /* tickerh */
  
  /* (B) MOVE ITEMS FROM RIGHT TO LEFT */
  /* first item = 0, fourth item = -300% */
  /* @keyframes tickerh {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  
  .hmove {
    animation: tickerh linear 25s infinite;
  }
  
  .hmove:hover {
    animation-play-state: paused;
  } */ 

 .marqueetext{
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 2.1vmax;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* font-style: bold; */
 }
  .marquee {
    background-color: #81BC12;
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    /* gap: var(--gap); */
    gap:4vmax;


  }
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    /* gap: var(--gap); */
    gap:4vmax;
    height: 4vh;
    min-width: 100%;
    animation: scroll 12s linear infinite;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-items: center;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  /* Pause animation when reduced-motion is set */
  @media (prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }  
/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
    animation-play-state: paused;
  }
  @keyframes scroll-abs {
    from {
      transform: translateX(calc(100% + var(--gap)));
    }
    to {
      transform: translateX(0);
    }
  }
.starr{
    width: 1.62vw;
    height: 3.4vh;
}

/* Exclude hover pause on screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
  .marquee--hover-pause:hover .marquee__content {
      animation-play-state: running !important;
  }
}
